{erl_opts, [debug_info]}.

{project_plugins, [erlfmt]}.
{erlfmt, [
    write,
    {files, "apps/*/{src,include,test}/*.{hrl,erl}"}
]}.

{apps, [
amqp_cron
,amqp_leader
,kazoo
,kazoo_amqp
,kazoo_apps
,kazoo_ast
,kazoo_attachments
,kazoo_auth
,kazoo_bindings
,kazoo_caches
,kazoo_call
,kazoo_config
,kazoo_convert
,kazoo_couch
,kazoo_csv
,kazoo_data
,kazoo_documents
,kazoo_edr
,kazoo_endpoint
,kazoo_etsmgr
,kazoo_events
,kazoo_fax
,kazoo_fixturedb
,kazoo_globals
,kazoo_im
,kazoo_ips
,kazoo_ledgers
,kazoo_media
,kazoo_modb
,kazoo_number_manager
,kazoo_oauth
,kazoo_perf
,kazoo_proper
,kazoo_schemas
,kazoo_services
,kazoo_sip
,kazoo_speech
,kazoo_stats
,kazoo_stdlib
,kazoo_tasks
,kazoo_telemetry
,kazoo_templates
,kazoo_token_buckets
,kazoo_transactions
,kazoo_translator
,kazoo_voicemail
,kazoo_web
,kazoo_xml
]}.

{deps, [{lager, "3.9.2"}]}.

{relx,
 [{release, {kazoo_core, "0.1.0"}, [amqp_cron
,amqp_leader
,kazoo
,kazoo_amqp
,kazoo_apps
,kazoo_ast
,kazoo_attachments
,kazoo_auth
,kazoo_bindings
,kazoo_caches
,kazoo_call
,kazoo_config
,kazoo_convert
,kazoo_couch
,kazoo_csv
,kazoo_data
,kazoo_documents
,kazoo_edr
,kazoo_endpoint
,kazoo_etsmgr
,kazoo_events
,kazoo_fax
,kazoo_fixturedb
,kazoo_globals
,kazoo_im
,kazoo_ips
,kazoo_ledgers
,kazoo_media
,kazoo_modb
,kazoo_number_manager
,kazoo_oauth
,kazoo_perf
,kazoo_proper
,kazoo_schemas
,kazoo_services
,kazoo_sip
,kazoo_speech
,kazoo_stats
,kazoo_stdlib
,kazoo_tasks
,kazoo_telemetry
,kazoo_templates
,kazoo_token_buckets
,kazoo_transactions
,kazoo_translator
,kazoo_voicemail
,kazoo_web
,kazoo_xml
,sasl]},
  {mode, dev},
  %% automatically picked up if the files
  %% exist but can be set manually, which
  %% is required if the names aren't exactly
  %% sys.config and vm.args
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"}]}.

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}

{profiles,
 [{prod,
   [{relx,
     %% prod is the default mode when prod
     %% profile is used, so does not have
     %% to be explicitly included like this
     [{mode, prod}]}]}]}.

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
